<div class="container">
    <div class="row">
            <mat-toolbar color="primary" >    
            <span>Registra Ejemplo</span>    
            </mat-toolbar>  
    </div>
    <div  class="row"  style="margin-top: 3%">
                <mat-form-field class="col-md-4">
                    <mat-label>Nombre</mat-label>
                    <input  matInput  >
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <mat-label>País</mat-label>
                    <mat-select >
                        <mat-option value="-1"> [Seleccione] </mat-option>

                    </mat-select> 
                </mat-form-field> 
    </div>
    <div  class="row" >
        <button mat-raised-button type="submit" color="primary">Registra</button>
    </div>

</div>